body {
    font-family: 'Inter', sans-serif;
    color: #333;
}

header {
    height: 72px;
}

.bg-body-tertiary {
    background-color: white !important;
}

.card {
    color: #333;
}

body hr {
    border-top: rgba(153, 153, 153, 0.60) 0.4px solid;
}

footer li {
    color: white !important;
}
